
<!doctype html>
<html lang="en">
  <head>
    <title>JobBoard &mdash; Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link rel="stylesheet" href="../jobassests/css/custom-bs.css">
    <link rel="stylesheet" href="../jobassests/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../jobassests/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../jobassests/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../jobassests/fonts/line-icons/style.css">
    <link rel="stylesheet" href="../jobassests/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../jobassests/css/animate.min.css">
    <link rel="stylesheet" href="../jobassests/css/quill.snow.css">
    

    <!-- MAIN CSS -->
    <!-- <link rel="stylesheet" href="../jobassests/css/style.css">     -->
  </head>
  <body id="top">

  
 
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
         
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

   

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Apply for job posting</h1>
            <div class="custom-breadcrumbs">
              <a href="/">Home</a> <span class="mx-2 slash">/</span>
              <a href="/BecomeCompany">Request to Job posting</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Post a Job</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div>
                <h2>Request to Job posting</h2>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row mb-5">
          <div class="col-lg-12">
            <form class="p-4 p-md-5 border rounded"method="POST" enctype="multipart/form-data">
              
  

              <h3 class="text-black my-5 border-bottom pb-2">Company Details</h3>
              <div class="form-group">
                <label for="company-name">Company Name</label>
                <input type="text" class="form-control" name="companyname" placeholder="e.g. xyz">
              </div>

              <div class="form-group">
                <label for="company-tagline">Email </label>
                <input type="text" class="form-control" name="email" placeholder>
              </div>

              <div class="form-group">
                <label for="company-tagline">location</label>
                <input type="text" class="form-control" name="tagline" placeholder="e.g. kandy">
              </div>

              
              
    

              <div class="form-group">
                <label for="company-website-tw d-block">Upload Certification</label> <br>
                <input type="file" name="ccertificate" class="form-control" accept="image/*">
              </div>
              <div class="row align-items-center mb-5">
          
                <div class="col-lg-4 ml-auto">
                  <div class="row">
                    
                    <div class="col-6">
                     
                      <button type="submit" class="btn btn-block btn-primary btn-md">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            </form>
          </div>

         
        </div>
        
    </section>

    
    
    
  
  </div>

    <!-- SCRIPTS -->
    <!-- <script src="../jobassests/css/js/jquery.min.js"></script>
    <script src="../jobassests/css/js/bootstrap.bundle.min.js"></script>
    <script src="../jobassests/css/js/isotope.pkgd.min.js"></script>
    <script src="../jobassests/css/js/stickyfill.min.js"></script>
    <script src="../jobassests/css/js/jquery.fancybox.min.js"></script>
    <script src="../jobassests/css/js/jquery.easing.1.3.js"></script>
    
    <script src="../jobassests/css/js/jquery.waypoints.min.js"></script>
    <script src="../jobassests/css/js/jquery.animateNumber.min.js"></script>
    <script src="../jobassests/css/js/owl.carousel.min.js"></script>
    <script src="../jobassests/css/js/quill.min.js"></script>
    
    
    <script src="../jobassests/css/js/bootstrap-select.min.js"></script>
    
    <script src="../jobassests/css/js/custom.js"></script> -->
   
   
     
  </body>
</html>