<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>


  <div class="login-container">
    <form class="login" action='/login' method="POST">
      <h2>Login</h2>
      <% if (typeof error !== 'undefined' && error !== null) { %>
      <p><%= error %></p>
      <% } %>

      <!-- <div class="login-type">
        <input type="radio" id="user" name="loginType" value="user" checked>
        <label for="user">User</label>
        <input type="radio" id="company" name="loginType" value="company">
        <label for="company">Company</label>
      </div> -->

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
      </div>

      <input type="submit" value="Login" class="button">
    </form>

    <p>Do not have an account?<a href='/register'> Sign up</a></p>
  </div>
</body>

</html>
